/* ----------------------- */
/* Custom properties       */
/* ----------------------- */

:root {
  /* colors */
  --clr-grey-900: 0 0% 8%;
  --clr-grey-800: 0 0% 12%;
  --clr-grey-700: 0 0% 20%;
  --clr-green: 75 94% 57%;
  --clr-white: 0 0% 100%;

  /* fonts sizes*/
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-450: 1.5rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* line height */

  --lh-150: 1.5;

  /* font weight*/

  --fw-600: 600;
  --fw-400: 400;
  --fw-700: 700;

  /* font-families */
  --ff-sans-normal: "Inter", sans-serif;
}

/* ----------------------- */
/* Reset                   */
/* ----------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margin */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-200);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-grey-900));
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */

input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off*/

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------- */
/* Utility classes         */
/* ----------------------- */

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 24px;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);   
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  width: 327px;
  border-radius: 12px;
  padding: 24px;
}

img {
  width: 88px;
  border-radius: 100%;
}

/* colors */

.bg-grey-900 {background-color: hsl(var(--clr-grey-900));}
.bg-grey-800 {background-color: hsl(var(--clr-grey-800));}
.bg-grey-700 {background-color: hsl(var(--clr-grey-700));}

.text-green {color: hsl(var(--clr-green));}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.name-location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

button {
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  background-color: hsl(var(--clr-grey-700));
  border: none;
  color: hsl(var(--clr-white));
}

/* typography */

.ff-sans { font-family: var(--ff-sans-normal); } 

.fs-450 {font-size: var(--fs-450);}
.fs-300 {font-size: var(--fs-300);}

.lh-150 {line-height: var(--lh-150);}

.semiBold {font-weight: var(--fw-600);}
.regular {font-weight: var(--fw-400);}
.bold {font-weight: var(--fw-700);}

/* ----------------------- */
/* Components              */
/* ----------------------- */

button:hover {
  cursor: pointer;
  background-color: hsl(var(--clr-green));
  color: hsl(var(--clr-grey-700));
}

/* ----------------------- */
/* Devices                 */
/* ----------------------- */

@media (min-width: 768px) {
  body {
    padding: 40px;
  }

  .container {
    width: 456px;
    padding: 40px;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 0;
  }

  .container {
    width: 384px;
  }

}